extends /_layout
block body

  .wrap-last: .frame.py-l
    .flow
      .span-3
        include logo.svg
      .span-2
        include logo-alt.svg
      .span
        h1 this was built by travis
      .span
        p Lu Nelson, Creative Developer
